<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <header>


    <nav class="bg-maroon text-white sm:py-8">
      <div class="container sm:justify-between  sm:flex-wrap sm:flex sm:items-center px-0 " >
        <a class="block py-2"  href=""><img class="w-12 h-[30px] mx-auto sm:w-[80px] sm:h-12" src="./assets/images/logo-white.png" alt=""></a>
        <ul class="flex flex-wrap">
          <li class="border border-white sm:border-0 w-1/2 sm:w-auto text-center sm-max:py-2 "><a class="text-xl md:py-2.5 sm:px-5  hover:text-maroon-dark" href="">系列鏡框</a></li>
          <li class="border border-white sm:border-0 w-1/2 sm:w-auto text-center sm-max:py-2"><a class="text-xl md:py2.5 sm:px-5  hover:text-maroon-dark" href="">門市據點</a></li>
          <li class="border border-white sm:border-0 w-1/2 sm:w-auto text-center sm-max:py-2"><a class="text-xl md:py2.5 sm:px-5  hover:text-maroon-dark" href="">部落格</a></li>
          <li class="border border-white sm:border-0 w-1/2 sm:w-auto text-center sm-max:py-2"><a class="text-xl md:py2.5 sm:px-5  hover:text-maroon-dark" href="">常見問題</a></li>
        </ul>
      </div>
    </nav>
  </header>

  <%- contents %>

  <footer class="footer bg-maroon text-white sm:py-8">
    <div class="footer-list ">
      <div class="footer-list-1 flex sm:justify-between container sm-max:hidden">
      <ul class=" flex justify-center items-center ">
        <li class="mr-12  hover:text-maroon-dark "><a href="">首頁</a></li>
        <li class="mr-12  hover:text-maroon-dark"><a href="">系列鏡框</a></li>
        <li class="mr-12  hover:text-maroon-dark"><a href="">門市據點</a></li>
        <li class="mr-12  hover:text-maroon-dark"><a href="">部落格</a></li>
        <li class="  hover:text-maroon-dark"><a href="">常見問題</a></li>
      </ul>

      <ul class="flex sm-max:hidden  ">
        <li><a href=""><img class="w-12 mr-8 hover:rounded-2xl hover:bg-maroon-dark " src="./assets/images/ic-social-fb.png" alt="fb"></a></li>
        <li><a href=""><img class="w-12 mr-8 hover:rounded-lg hover:bg-maroon-dark" src="./assets/images/ic_social_ig.png" alt="ig"></a></li>
        <li><a href=""><img class="w-12 hover:rounded-lg hover:bg-maroon-dark" src="./assets/images/ic_social_line.png" alt="line"></a></li>
      </ul>
    </div>
<div class="footer-list-2 container">
  <div class="footer-list-2-sm flex justify-between">
    <ul class="pb-8 pt-9 sm-max:pt-6">
      <li class="flex text-[36px] sm-max:text-[16px] hover:text-maroon-dark"><img class="w-12 mr-4 sm-max:mr-[10px] sm-max:mb-2 sm-max:w-[18px] sm-max:h-[18px]" src="./assets/images/telephone-auricular-with-cable.png" alt="phone"><a href="">
        0800-000-000</a></li>
      <li class="flex text-[36px] sm-max:text-[16px] hover:text-maroon-dark"><img class="w-12 mr-4 sm-max:mr-[10px] sm-max:w-[18px] sm-max:h-[18px]" src="./assets/images/email.png" alt=""><a href="">
        glasses@business.com</a></li>
    </ul>
    <ul class="flex justify-center items-start sm:hidden mt-6">
      <li><a href=""><img class="w-12 mx-8 sm-max:w-6 sm-max:mx-2 hover:bg-maroon-dark " src="./assets/images/ic-social-fb.png" alt="fb"></a></li>
      <li><a href=""><img class="w-12 mx-8 sm-max:w-6 sm-max:mx-2 hover:bg-maroon-dark" src="./assets/images/ic_social_ig.png" alt="ig"></a></li>
      <li><a href=""><img class="w-12 mx-8 sm-max:w-6 sm-max:mx-2 hover:bg-maroon-dark" src="./assets/images/ic_social_line.png" alt="line"></a></li>
    </ul>
  </div>
  <ul class="pt-8 border-t border-white flex justify-between ">
    <li class="mb-2 text-[16px] sm-max:text-[16px] sm-mini:text-[12px]">Copyright © 2020 Glasses.All rights reserved.</li>
    <div class="privacy flex ">
    <li class="mb-2 text-[16px] mr-12 sm-max:text-[14px] sm-mini:text-[12px] sm-mini:mr-2"><a class=" hover:text-maroon-dark" href="">
      隱私權政策</a></li>
    <li class="mb-2 text-[16px] pb-6 sm-max:text-[16px] sm-mini:text-[12px]"><a class=" hover:text-maroon-dark" href="">服務條款</a></li></div>
  </ul>
  </div>
    </div>
  </footer>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>
